body {
    background: #ccc;
    padding: 30px;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 21cm;
    min-height: 29.7cm;
}

.invoice {
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    padding: 2cm;
    margin: 1cm;
    box-sizing: border-box;
}

i {
    width: 15px;
    height: 15px;
}


.document-type {
    text-align: right;
    color: #444;
}

.conditions {
    font-size: 0.7em;
    color: #666;
}

.bottom-page {
    font-size: 0.7em;
}

.logofacture {
    width: 250px;
    margin-left: -66px;
    margin-top: -29%;
    ;
}

h1,
.document-type {
    width: 0%;
    margin-top: -49px;
    margin-left: 70%;
    opacity: 0.4;
}

.client {
    margin-left: 70%;
    margin-top: -32%;
}

.entreprise {
    margin-left: 0%;
    margin-top: -10%;
}

.conditions {
    margin-top: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Ajuster les lignes fines */
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 11px;
}
td {
    border: 1px solid #b3adad; /* Lignes fines */
    padding: 8px;
    text-align: left;
}

.bord1 {
    border-top-left-radius: 10px;
}

.bord2 {
    border-top-right-radius: 10px;
}

/* Ajustement des colonnes */
td:first-child {
    width: 55%;
}

td:nth-child(2) input {
    width: 50px;
}

td:nth-child(3), td:nth-child(4) {
    text-align: right;
}

/* Modifier les input de type number */
input[type="number"] {
    width: 100%;
    padding: 2px;
    text-align: center;
    display: block;
    margin: auto;
}

.table-entete {
    background-color: #32a5e8;
    border-color: #32a5e8;
    opacity: 85%;
    color: #fdfbfb;
    font-weight: bold;
    border-bottom-width: 2px;
    text-align: center;
}



.row2 {
    display: flex; /* Utilise flexbox pour aligner les éléments en ligne */
    justify-content: space-between; /* Espace entre les colonnes */
    align-items: center; /* Aligne verticalement au centre */
    margin-top: 0px;
}

.col-8 {
    flex: 0 0 10%; /* Prend environ 2/3 de l'espace disponible */
}

.col-4 {
    flex: 0 0 45.1%; /* Prend environ 1/3 de l'espace disponible */
    text-align: right; /* Aligne le texte à droite */
    margin-left: 20px; /* Ajoute un espacement à gauche de col-4 */
}


.table {
    width: 100%; /* Assure que la table prend toute la largeur de la colonne */
    border-collapse: collapse; /* Pour supprimer les espaces entre les cellules */
}

.table td {
    padding: 5px; /* Espacement à l'intérieur des cellules */
    border-bottom: 1px solid #ddd; /* Ligne de séparation entre les lignes */
}

.text-right {
    text-align: right; /* Alignement du texte à droite */
}

strong {
    font-weight: bold; /* Mettre le texte en gras */
}

.total {
    background-color: #32a5e8;
    color: #fff;
    opacity: 85%;
}





.btnprint {
    text-decoration: none;
    background: #32a5e8;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    transition: all 0.2s;
    border-width: 0;
    border-left-width: 0;
    position: absolute;
    right: 100px;
    bottom: 10%;
}

.btnprint:hover {
    transform: translateY(-3px);

}

.btnprint:active {
    transform: translateY(1px);

}

.toggleButton {
    text-decoration: none;
    background: #32a5e8;
    color: #fff;
    padding: 3px 20px;
    border-radius: 30px;
    transition: all 0.2s;
    border-width: 0;
    border-left-width: 0;
    position: absolute;
}

.toggleButton:hover {
    transform: translateY(-3px);
}

.toggleButton:active {
    transform: translateY(1px);
}