/* Styles par défaut (bureau / grands écrans) */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    width: 55%;
}

/*-----------------------------  SIDEBAR INFORMATION UTILISATEUR ----------------------------- */
.sidebar {
    background-color: #343a40;
    padding: 20px;
    width: 35%;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    box-shadow: 5px 0 5px 0 #ccc;
    position: relative;
}

.info {
    margin-bottom: 7em;
}

.logoprofil {
    width: 100%;
    margin-bottom: 20px;
}

.info p {
    margin: 5px 0;
}

.btn-edit, .btn-change-logo {
    background-color: #32a5e8;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-edit:hover, .btn-change-logo:hover {
    background-color: #2288cc;
}

#editButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#changeLogoButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/*------------------------------ Onglets de navigation ------------------------------*/
.tabs {
    margin-bottom: -1px;
    margin-right: -8em;
    margin-top: 10em;
}

.tablink {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 1; /* Superposition sur le conteneur */
    box-shadow: 5px 0 5px 0 #ccc;
}

.tablink:hover {
    color: white;
}

.tablink.active {
    background-color: #32a5e8;
    color: white;
    top: 0;
    z-index: 2;
}

/*------------------------------- Conteneur de contenu -------------------------------*/
.content-container {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #bfbfbf;
    margin-top: 0;
    box-shadow: 5px 0 5px 0 #ccc;
}

.tabcontent {
    display: none;
}

.tabcontent:first-of-type {
    display: block;
}

/* -------------------------------Table prestation styles------------------------------------------- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}

td {
    text-align: left;
}

/* Table Actions (centrage) */
.table-actions {
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.material-icons {
    font-size: 24px;
    color: #32a5e8;
    cursor: pointer;
    transition: color 0.3s;
}

.material-icons:hover {
    color: #2288cc;
}

.btn {
    background-color: #32a5e8;
    color: white;
    padding: 10px 20px;
   
}

/* ---------------------------- Media Queries --------------------------------------------------------- */

/* Pour les écrans de taille moyenne (tablettes et petits écrans) */
@media (max-width: 1024px) {
    .main-content {
        width: 90%;
    }

    .sidebar {
        width: 30%; /* Réduit la taille de la sidebar */
    }

    .tabs {
        margin-right: 0; /* Ajuste la position des onglets */
        margin-top: 5em;
    }

    .content-container {
        width: 65%;
    }
}

/* Pour les écrans plus petits (mobiles en mode portrait) */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column; /* Place la sidebar en haut et le contenu en bas */
        width: 100%;
    }

    .sidebar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; /* Ajoute un espacement en bas de la sidebar */
    }

    .content-container {
        width: 100%; /* Le contenu prend toute la largeur */
    }

    .tabs {
        margin-right: 0;
        margin-top: 2em;
        text-align: center; /* Centre les onglets sur les petits écrans */
    }

    .tablink {
        padding: 10px; /* Réduit la taille des boutons onglets pour les petits écrans */
        width: 100%; /* Chaque bouton prend toute la largeur */
    }
}

/* Pour les très petits écrans (mobiles très petits) */
@media (max-width: 480px) {
    .sidebar {
        padding: 15px;
    }

    .content-container {
        padding: 15px;
    }

    .tablink {
        padding: 8px;
        font-size: 14px; /* Diminue la taille de la police des onglets */
    }
}
