* { box-sizing: border-box; }

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: #32a5e8;
}

.close-button {
	position: absolute;
	top: 15px;
	right: 15px;
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
	background-color: #212121;
	border-radius: 8px;
}

.close-button svg {
	width: 25%;
	height: auto;
	fill: white;
}

.bg-register {
  margin-top: -7%;
  
}

.left-container {
	width: 100%;
	padding-top: 1%;
  
}

.title {
	font-size: 32px;
	margin-left: 60PX;
	margin-bottom: 5px;
	color: #32a5e8;
	font-family: 'Barlow', sans-serif;
	text-shadow: -2px -1px 0 #000;
}

.login-cta {
	color: white;
}

.login-cta a {
	color: #1d90f5;
	text-decoration: none;
}

.form {
	margin-top: 30px;
}

.input-flex {
	display: flex;
	column-gap: 100px;
}

.input-flex .input-group:last-child .input-control {
	border-radius: 0 10px 10px 0;
}

.input-group {
	width: 100%;
	max-width: 600px;
	display: flex;
	position: relative;
	margin-bottom: 2em;
	max-height: 49px;
}

.left-side {
	flex: 1;
}

.right-side {
	display: grid;
	place-items: center;
	padding: 0 15px;
	border-radius: 0 10px 10px 0;
	background-color: #333333;
}

.input-group:last-child {
	margin-bottom: 0;
}

.input-control {
	width: 100%;
	height: 100%;
	padding: 8px 0 8px 25px;
	border-radius: 10px 0 0 10px;
	border: none;
	font-size: 0.88em;
	outline: none;
	color: white;
	background-color: #333333;
	font-family: inherit;
}

.input-control::placeholder {
	color: transparent;
}

.input-label {
	display: block;
	width: fit-content;
	cursor: text;
	color: #bfbfbf;
	/* font-size: 0.88em; */
	border-radius: 10px;
	transform: translate(15px, -33px);
	transform-origin: 0 0;
	transition: transform .2s, background .2s, padding .2s;
}

.input-control:focus + .input-label,
.input-control:not(:placeholder-shown) + .input-label {
	padding: 5px 10px;
	transform: translate(3px, -73px) scale(0.8);
	background-color: #212121;
	cursor: default;
}

.input-icon {
	width: 16px;
	height: auto;
	fill: white;
}

.form-submit {
	display:block;
	margin: 0 auto;
	width: 50%;
	padding: 10px 0 10px 0;
	margin-top: 30px;
	border: none;
	border-radius: 10px;
	background-color: #32a5e8;
	color: rgb(253, 253, 253);
	font-family: inherit;
	font-weight: bold;
	transition: transform .2s;
	cursor: pointer;
}
.form-submit:hover {
	transform: scale(1.05);
}
path{
  color: white;
}

.card-footer {
    padding: 20px;
    text-align: center;
}

.container{
  background-color: white;
  margin-top: 100px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}